include ../template.pug

+template(
    "Trop tard... 😢",
    "Votre place pour le spectacle suivant a été réattribuée :",
)

    | Sans réponse de votre part, 
    b votre place pour "#{event.name}" a été réattribuée. 
    | Malheureusement, la période dont vous disposiez pour confirmer votre inscription est désormais terminée, et nous avons dû attribuer votre place à quelqu'un d'autre.
