| Bonjour #{user.name},
|
| Sans réponse de votre part, votre place pour le spectacle suivant a été réattribuée :
| #{event.name}
|
| Malheureusement, la période dont vous disposiez pour confirmer votre inscription est désormais terminée, et nous avons dû attribuer votre place à quelqu'un d'autre.
|
| Bien cordialement, A. Saly