include ../template.pug 
 
+template(
    "Inscription au théâtre 🎭",
    "Vous êtes pré-inscrit au spectacle suivant :",
    "CONFIRMER",
    "Une fois votre inscription validée, vous recevrez régulièrement un mail, jusqu'à la date du spectacle, vous invitant à me prévenir le plus tôt possible en cas de désistement."
)
    | Veuillez 
    b confirmer votre inscription avant le #{functions.toDateString(registration.confirmBefore)}
    | . En l&apos;absence de confirmation, votre place sera attribu&eacute;e &agrave; quelqu&apos;un d&apos;autre.
