| Bonjour #{user.name},
| 
| Vous êtes pré-inscrit au spectacle suivant :
| #{event.name}
| 
| Veuillez confirmer votre inscription avant le #{event.confirmBeforeDate} en cliquant sur le lien suivant (ou en le copiant dans votre navigateur) :
| #{link}
| 
| En l'absence de confirmation, votre place sera attribuée à quelqu'un d'autre. 
| 
| Une fois votre inscription validée, vous recevrez régulièrement un mail, jusqu'à la date du spectacle, vous invitant à me prévenir le plus tôt possible en cas de désistement.
| Bien Cordialement, A. Saly