include ../template.pug

+template(
    "Liste d'attente ⌛",
    "Vous êtes sur liste d'attente pour le spectacle suivant :",
    "SE DÉSINSCRIRE"
)
    if position === 1
        | Vous êtes 
        b le prochain 
        | sur la liste d'attente. 
    else
        | Vous êtes en position 
        b ##{position} 
        | sur la liste d'attente. 
    br
    | A ce jour, il n'y a plus de places disponibles mais 
    b vous serez recontacté si une place se libère. 
    | Si vous n'êtes plus intéressé, merci de me prévenir à l'adresse suivante : 
